<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <!-- Banner -->
    <div class="banner"></div>

    <body>

        <h1>As cinco primeiras Caixas</h1>
        <ul>
            <% boxesAll.forEach(function(box) { %>

                <li>
                    <span class="content-list">ID:</span> <%= box.id %>
                </li>
                <li>
                    <span class="content-list">Data de Modificação:</span> <%= box.dateModify %>
                </li>
                <li>
                    <span class="content-list">Nome da Descrição:</span> <%= box.nameDescription %>
                </li>
                <li>
                    <span class="content-list">Localização:</span> <%= box.locale %>
                </li>
                <li>
                    <span class="content-list">Active CTO:</span> <%= box.activeCto %>
                </li>
                <li>
                    <span class="content-list">Tecnologia de Rede:</span> <%= box.networkTechnology %>
                </li>
                <% }); %>

        </ul>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>