<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <!-- Banner -->
    <div class="banner"></div>

    <body>

        <h1>Boxes</h1>

        <ul>

            <% boxesAll.forEach(function(box) { %>

                <li>
                    ID: <%= box.id %>
                </li>
                <li>
                    Data de Modificação: <%= box.dateModify %>
                </li>
                <li>
                    Nome da Descrição: <%= box.nameDescription %>
                </li>
                <li>
                    Localização: <%= box.locale %>
                </li>
                <li>
                    Active CTO: <%= box.activeCto %>
                </li>
                <li>
                    Tecnologia de Rede: <%= box.networkTechnology %>
                </li>
                <% }); %>

        </ul>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>