<!DOCTYPE html>
<html lang="en">
<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body>
        <div class="text-center">
            <h1>AlphanetSLM</h1>
            <blockquote class="blockquote">
                <h3>Identificação da Caixa</h3>
            </blockquote>
        </div>
        
        <% if (idBox) { %>
            <ul>
                <li>
                    <span class="content-list">ID:</span> <%= idBox.id %>
                </li>
                <li>
                    <span class="content-list">Data de Modificação:</span> <%= idBox.dateModify %>
                </li>
                <li>
                    <span class="content-list">Nome da Descrição:</span> <%= idBox.nameDescription %>
                </li>
                <li>
                    <span class="content-list">Localização:</span> <%= idBox.locale %>
                </li>
                <li>
                    <span class="content-list">Active CTO:</span> <%= idBox.activeCto %>
                </li>
                <li>
                    <span class="content-list">Tecnologia de Rede:</span> <%= idBox.networkTechnology %>
                </li>
            </ul>
            <% } else { %>
                <p>Box não encontrada.</p>
                <% } %>
                    <!-- Footer da pagina -->
                    <%- include("./partials/footer") %>
    </body>

</html>