<!DOCTYPE html>
<html lang="en">
<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body>
        <h1>Nome da Box</h1>
        <li>Nome: <%= nameBox.msg %></li>
        <% if (nameBox) { %>
            <ul>
                
                <li>ID: <%= nameBox.box.id %></li>
                <li>Data de Modificação: <%= nameBox.box.dateModify %></li>
                <li>Nome da Descrição: <%= nameBox.box.nameDescription %></li>
                <li>Localização: <%= nameBox.box.locale %></li>
                <li>Active CTO: <%= nameBox.box.activeCto %></li>
                <li>Tecnologia de Rede: <%= nameBox.box.networkTechnology %> </li>
            </ul>
            <% } else { %>
                <p>Box não encontrada.</p>
                <% } %>
                    <!-- Footer da pagina -->
                    <%- include("./partials/footer") %>
                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>