<!DOCTYPE html>
<html lang="pt-br">
<!-- Metadados da página -->
<%- include("./partials/head" )%>

    <body>
        <%- include("./partials/header") %>
        
        <div class="text-center">
            <h1>AlphanetSLM</h1>
            <blockquote class="blockquote">
                <h3>Detalhes</h3>
            </blockquote>
        </div>
        <!-- <h4>Detalhes do objeto:<span class="content-name"><%= detailBox.nameDescription %></span></h4> -->

        <% if (detailBox) { %>
            <% const object = detailBox[0]; %>
                <ul>
                    
                    <% if (object.fusions && object.fusions.length > 0) { %>
                        <% const fusion = object.fusions[0]; %>
                            <li>
                                <span class="content-list">Numero de fusões:</span> <%= fusion.numberFusions %>
                            </li>
                            <% if (fusion.colouring) { %>
                                <li>
                                    <span class="content-list">Cores:</span> <%= fusion.colouring.colors %>
                                </li>
                                <% if (fusion.colouring.links) { %>
                                    <li>
                                        <span class="content-list">Nome de referencia do tubet:</span> <%= fusion.colouring.links.refenrenceName %>
                                    </li>
                                    <li>
                                        <span class="content-list">Chegada do Link na fibra de cor:</span> <%= fusion.colouring.links.comeLink %>
                                    </li>
                                    <li>
                                        <span class="content-list">Cor do tubet da chegada do Link:</span> <%= fusion.colouring.links.colorTubet %>
                                    </li>
                                    <% } %>
                                        <% } %>
                                            <% } %>
                </ul>
                <% } else { %>
                    <p>Box não encontrada.</p>
                    <% } %>

                        <!-- Footer da pagina -->
                        <%- include("./partials/footer") %>
    </body>

</html>

<!--  fusions:
    "dateModify": "2023-05-09",
    "numberFusions": 2 
-->
<!-- colouring:
    "colors": "verde-verde, verde-amarelo" 
-->
<!-- links:
    "dateModify": "2023-05-09",
    "refenrenceName": "Beira do rio",
    "comeLink": "verde",
    "colorTubet": "verde"
-->