<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <!-- Banner -->
    <div class="banner"></div>

    <body>
        <h1>As cinco primeiras Fusões</h1>
        <ul>
            <% fusions.forEach(function(fus) { %>

                <li>
                    <span class="content-list">ID:</span> <%= fus.id %>
                </li>
                <li>
                    <span class="content-list">Chave estrangeira:</span> <%= fus.boxId %>
                </li>
                <li>
                    <span class="content-list">Data de Modificação:</span> <%= fus.dateModify %>
                </li>
                <li>
                    <span class="content-list">Numero de Fusões:</span> <%= fus.numberFusions %>
                </li>
                <li>
                    <span class="content-list">ID do objeto de relacionamento:</span> <%= fus.box_id %>
                </li>
                <% }); %>

        </ul>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>