<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <!-- Banner -->
    <div class="banner"></div>

    <body>

        <h1>Fusions</h1>

        <ul>

            <% fusions.forEach(function(fus) { %>

                <li>
                    ID: <%= fus.id %>
                </li>
                <li>
                    Chave estrangeira: <%= fus.boxId %>
                </li>
                <li>
                    Data de Modificação: <%= fus.dateModify %>
                </li>
                <li>
                    Numero de Fusões: <%= fus.numberFusions %>
                </li>
                <li>
                    ID do objeto de relacionamento: <%= fus.box_id %>
                </li>
                <% }); %>

        </ul>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>