<!DOCTYPE html>
<html lang="en">
<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body>
        <h1>Identificação da Fusão</h1>
        <% if (idFusion) { %>
            <ul>
                <li>
                    <span class="content-list">ID:</span> <%= idFusion.id %>
                </li>
                <li>
                    <span class="content-list">Chave estrangeira:</span> <%= idFusion.boxId %>
                </li>
                <li>
                    <span class="content-list">Data de Modificação:</span> <%= idFusion.dateModify %>
                </li>
                <li>
                    <span class="content-list">Numero de Fusões:</span> <%= idFusion.numberFusions %>
                </li>
                <li>
                    <span class="content-list">ID do objeto de relacionamento:</span> <%= idFusion.box_id %>
                </li>

            </ul>
            <% } else { %>
                <p>Box não encontrada.</p>
                <% } %>
                    <!-- Footer da pagina -->
                    <%- include("./partials/footer") %>                        
    </body>

</html>