<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head") %>

    <body>
        <!-- todas as boxes -->
        <div class="container-boxes">
            <ul>
                <li>id:<%-  %></li>
                <li>date_modify:<%-  %></li>
                <li>name_description:<%-  %></li>
                <li>locale:<%-  %></li>
                <li>active_cto:<%-  %></li>
                <li>network_technology:<%-  %></li>
            </ul>
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>