<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head") %>

    <body>
        <!-- todas as boxes -->
        <div class="container-boxes">
            <div>
                <ul>
                    <div>
                        <li>id:<%- %></li>
                    </div>
                    <div>
                        <li>date_modify:<%- %></li>
                    </div>
                    <div>
                        <li>name_description:<%- %></li>
                    </div>
                    <div>
                        <li>locale:<%- %></li>
                    </div>
                    <div>
                        <li>active_cto:<%- %></li>
                    </div>
                    <div>
                        <li>network_technology:<%- %></li>
                    </div>
                </ul>
            </div>
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>