<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <!-- Banner -->
    <div class="banner"></div>

    <body>

        <h1>Boxes</h1>
        <ul>
            <% boxes.forEach(function(box) { %>
                <li>
                    id: <%= box.id %>
                </li>
                <li>
                    dateModify: <%= box.dateModify %>
                </li>
                <li>
                    nameDescription: <%= box.nameDescription %>
                </li>
                <li>
                    locale: <%= box.locale %>
                </li>
                <li>
                    activeCto: <%= box.activeCto %>
                </li>
                <li>
                    networkTechnology: <%= box.networkTechnology %>
                </li>
                <% }); %>
        </ul>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>