<!-- Metadados da página -->
<%- include("../partials/head" )%>

    <%- include("../partials/headerLogo") %>
        <%- include("../partials/header") %>

            <body>
                <%- include("../partials/imgBoxes") %>

                    <main class="container-fluid">
                        <section class="container-fluid container-sm mt-6">

                            <p class="text-light h1 text-center mb-4">Detalhes da Caixa</p>

                            <p class="text-light h6 text-center mb-5">Objeto do detalhe:
                                <span class="has-text-danger h5">
                                    <%= msg %>
                                </span>
                            </p>

                            <% if (detailBox) { %>
                                <% const object=detailBox[0]; %>
                                    <ul class="">

                                        <% if (object.fusions && object.fusions.length> 0) { %>
                                            <% const fusion=object.fusions[0]; %>
                                                <li class="has-text-danger">
                                                    <span class="content-list text-light">Numero de fusões:</span>
                                                    <%= fusion.numberFusions %>
                                                </li>
                                                <% if (fusion.colouring) { %>
                                                    <li class="has-text-danger">
                                                        <span class="content-list text-light">Cores:</span>
                                                        <%= fusion.colouring.colors %>
                                                    </li>
                                                    <% if (fusion.colouring.links) { %>
                                                        <li class="has-text-danger">
                                                            <span class="content-list text-light">Nome de referencia do
                                                                tubet:</span>
                                                            <%= fusion.colouring.links.refenrenceName %>
                                                        </li>
                                                        <li class="has-text-danger">
                                                            <span class="content-list text-light">Chegada do Link na
                                                                fibra
                                                                de cor:</span>
                                                            <%= fusion.colouring.links.comeLink %>
                                                        </li>
                                                        <li class="has-text-danger">
                                                            <span class="content-list text-light">Cor do tubet da
                                                                chegada do
                                                                Link:</span>
                                                            <%= fusion.colouring.links.colorTubet %>
                                                        </li>
                                                        <% } %>
                                                            <% } %>
                                                                <% } %>
                                    </ul>
                                    <% } %>
                                    <div class="bg-black w-25 text-uppercase mt-3">
                                        <p class="text-uppercase text-light fw-bold text-center">
                                            <a href="http://localhost:3001/profile" class="text-light">
                                                Perfil
                                            </a>
                                        </p>
                                    </div>
                        </section>
                    </main>
                    <!-- Footer da pagina -->
                    <%- include("../partials/footer") %>
            </body>

            </html>

            <!--  fusions:
    "dateModify": "2023-05-09",
    "numberFusions": 2 
-->
            <!-- colouring:
    "colors": "verde-verde, verde-amarelo" 
-->
            <!-- links:
    "dateModify": "2023-05-09",
    "refenrenceName": "Beira do rio",
    "comeLink": "verde",
    "colorTubet": "verde"
-->